<div class="col-6 mx-auto mt-5">
  <mat-card class="text-center">
    <div class="example-container col-8 mx-auto">
    <mat-card-title class="my-3" >Log In</mat-card-title>
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="user.name">
      </mat-form-field>
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Enter your password</mat-label>
        <input matInput [(ngModel)]="user.password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="login()">Log In</button>
    </div>
  </mat-card>
</div>
